<h1><%= t(".header", title: @test_passage.test.title) %></h1>

<% if @test_passage.test_passed? %>
  <p style="color: green"><%= t(".passed") %></p>
<% else %>
  <p style="color: red"><%= t(".failed") %></p>
<% end %>
<p>

<%= link_to  t(".move_back"), tests_path %>
